<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 목록</title>
</head>
<body>

<h1>회원 목록</h1>

<a th:href="@{/}">홈으로</a>
<a th:href="@{/members/new}">회원가입</a>

<hr>

<table border="1">
  <thead>
  <tr>
    <th>Username</th>
    <th>Rating</th>
    <th>상세</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="member : ${members}">
    <td th:text="${member.username}">userA</td>
    <td th:text="${member.rating}">1000</td>
    <td>
      <a th:href="@{/members/{memberId}(memberId=${member.id})}">
        상세
      </a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>